.recMenuContainer {
	height: 200px;
	overflow-x: scroll;
	padding: 5px;
	display: flex;
}

.recMenuContainer>.recMenuItem {
	width: 150px;
	height: 90px;
	position: relative;
}

.recMenuContainer>.recMenuItem>.pic {
	width: 100%;
	height: 130px;
}

.recMenuContainer>.recMenuItem>.pic>img {
	width: 100%;
}

.recMenuContainer>.recMenuItem>.info {
	width: 100%;
	height: 30px;
}

.recMenuContainer>.recMenuItem>.delIconContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.menuList {
	display: flex;
	height: 70px;
}

.menuList .menuItem {
	position: relative;
	width: 70px;
	height: 70px;
	color: white;
}

.menuList>.menuItem>.delIconContainer {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	color: black;
}

.menuList .menuItem:not(:first-child) {
	margin-left: 4px;
}

.menuList .menuItem img {
	width: 100%;
	height: 100%;
}

.menuList .menuItem .moreCnt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-detail {
	padding: 5px 0 10px 0;
}

.moreCnt {
	background-color: rgba(0, 0, 0, 0.8);
}

#carouselContainer {
	transition: 0.3s;
	opacity: 0;
	z-index: -10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000A;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

#carouselContainer #imgContainer {
	background-color: #fff;
	position: absolute;
	width: 60%;
	height: 80%;
}

#carouselContainer .material-icons {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 40px;
	color: #fff;
	cursor: pointer;
	font-size: 3rem;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-wrapper .swiper-slide img {
	width: 100%;
}