<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="blog.hyojin4588.matzip.user.model.UserVO" alias="UserVO"/>
		<typeAlias type="blog.hyojin4588.matzip.user.model.UserDMI" alias="UserDMI"/>
		<typeAlias type="blog.hyojin4588.matzip.user.model.UserPARAM" alias="UserPARAM"/>
		<typeAlias type="blog.hyojin4588.matzip.rest.model.RestVO" alias="RestVO"/>
		<typeAlias type="blog.hyojin4588.matzip.rest.model.RestPARAM" alias="RestPARAM"/>
		<typeAlias type="blog.hyojin4588.matzip.rest.model.RestDMI" alias="RestDMI"/>
	</typeAliases>
</configuration>